<ion-content class=" uk-animation-fade">
  <ion-grid class="container">
    <div class="top-header">
      <div class="btn" routerLink="/registration/forgot">
        <ion-button color="primary-contrast">
          <span><ion-icon name="chevron-back-outline"></ion-icon></span>
        </ion-button>
      </div>
 
    </div>
    <ion-row>

      <div class="img">
        <img src="assets/img/reset-logo.png" alt="">
      </div>

      <div class="data">
        <p>Reset Password</p>
      </div>

      <ion-text class="textheader">
        Set the new password for your account so you can login and access all the features.
      </ion-text>
    </ion-row>

    <form>
      <div class="input-field" style="margin-top: 16px;">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item fill="none" color="primary-contrast" style="margin-bottom: 1em;">
          <ion-input type="email" placeholder="New Password" ></ion-input>
        </ion-item>
      </div>

      <div class="input-field">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item fill="none" color="primary-contrast">
          <ion-input type="password" placeholder="Confirm Password"></ion-input>
        </ion-item>
      </div>
    </form>

    <ion-button class="login-button ion-margin" color="--primary-contrast" expand="block" type="submit"
      routerLink="/job/job-list">Save</ion-button>
  </ion-grid>
</ion-content>