
@keyframes scale-easeInOutElastic {
	0% {
		transform: scale(1);
	}

	4% {
		transform: scale(1);
	}

	8% {
		transform: scale(1);
	}

	18% {
		transform: scale(1.01);
	}

	20% {
		transform: scale(1);
	}

	28% {
		transform: scale(0.98);
	}

	30% {
		transform: scale(0.98);
	}

	38% {
		transform: scale(1.09);
	}

	40% {
		transform: scale(1.12);
	}

	60% {
		transform: scale(-0.12);
	}

	62% {
		transform: scale(-0.09);
	}

	70% {
		transform: scale(0.02);
	}

	72% {
		transform: scale(0.02);
	}

	80% {
		transform: scale(0);
	}

	82% {
		transform: scale(-0.01);
	}

	90% {
		transform: scale(0);
	}

	92% {
		transform: scale(0);
	}

	100% {
		transform: scale(0);
	}

}

.nextButton{
  animation: scale-easeInOutElastic reverse forwards 1s;
}

ion-input{
    text-align: center;
}
ion-button{
    margin:0 auto;
}