<ion-content>
  <ion-grid class="container">
    <ion-row class="uk-animation-fade" style="margin: 0;">
      <ion-col>
        <ion-img src="assets/img/main.png" class="mainlogo"> </ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="uk-animation-fade" style="margin: 0;">
      <ion-col style="padding: 0;">
        <ion-text class="welcome">Login</ion-text>
      </ion-col>
    </ion-row>

    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()">
      <ion-label>Enter Login Details</ion-label>
      <div class="input-field" style="margin-top: 16px;">
        <ion-icon name="at-outline"></ion-icon>
        <ion-item fill="none" color="primary-contrast" style="margin-bottom: 1em;">
          <ion-input type="email" placeholder="Enter your Email" formControlName="email"></ion-input>
        </ion-item>
      </div>

      <div class="input-field">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item fill="none" color="primary-contrast">
          <ion-input type="password" placeholder="Enter your Password" formControlName="password"></ion-input>
        </ion-item>
      </div>

      <ion-text routerLink="/registration/forgotPassword">Forgot Password?</ion-text>

      <ion-button class="login-button ion-margin" color="primary-contrast" expand="block"
        type="submit">Login</ion-button>
    </form>
    <ion-text class="uk-animation-fade">New to Urban Laundry?
      <ion-text style="color: green;" routerLink="/registration/signup">Sign Up</ion-text>
    </ion-text>
<!-- 
    <ion-row class="uk-animation-fade">
      <ion-col>
        <hr class="line" />
        <ion-text class="or">OR</ion-text>
      </ion-col>
    </ion-row> -->

    <!-- <ion-button color="primary-contrast" class="google uk-animation-slide-bottom-medium" type="submit"
      (click)="auth.signUpWithGoogle()">
      <img src="assets/img/google-logo.png" alt="">
      <p>Sign up with Google</p>
    </ion-button> -->

  </ion-grid>
</ion-content>