<div class="main-container">
  <div class="header">
    <div class="btn" routerLink="/job/job-list">
      <ion-button color="primary-contrast">
        <span><ion-icon name="chevron-back-outline"></ion-icon></span>
      </ion-button>
    </div>
    <div class="content">
      <p>Order Details</p>
    </div>
  </div>

  <div class="orders">
    <div class="id-1">
      <span id="content">
        <!-- nav 1 -->
        <nav id="data">
          <p id="name">Manish Patel</p>
          <p id="number">
            <ion-icon name="call-outline"></ion-icon>
            9897415892
          </p>
        </nav>
        <!-- nav 2 -->
        <ion-button class="reject" id="button" color="primary-contrast">Completed</ion-button>
      </span>
      <span id="details">
        <nav style="font-weight: bold;">
          <p>Order Pickup Time</p>
          <p>Distance</p>
        </nav>
        <nav>
          <p>
            <ion-icon name="time-outline"></ion-icon>&nbsp;
            <span>3:00 PM</span>
          </p>

          <p>
            <ion-icon name="map-outline"></ion-icon>&nbsp;
            <span style="color: #579540;">1.2Km</span>
          </p>

        </nav>
      </span>
      <span id="pickup">
        <nav id="header"><p>Pickup From</p></nav>
        <nav id="address">
            <span id="loc-add">
                <p><ion-icon name="location-outline"></ion-icon></p>
                <p>4140 Parker Rd. Allentown, New Mexico, 31134</p> 
            </span>
            <span id="loc-logo">
              <p><ion-icon name="navigate-circle-outline"></ion-icon></p>
            </span>
        </nav>
      </span>
      <span id="pickup">
        <nav id="header"><p>Pickup To</p></nav>
        <nav id="address">
            <span id="loc-add">
                <p><ion-icon name="location-outline"></ion-icon></p>
                <p>4140 Parker Rd. Allentown, New Mexico, 31134</p> 
            </span>
            <span id="loc-logo">
              <p><ion-icon name="navigate-circle-outline"></ion-icon></p>
            </span>
        </nav>
      </span>
    </div>

    <div class="map">
      <img src="assets/icon/map.svg" alt="">
    </div>

    <!-- <span class="btn">
      <ion-button class="reject" color="primary-contrast">Reject</ion-button>
      <ion-button class="accept" color="primary-contrast">Accept</ion-button>
    </span> -->
  </div>
</div>