<div class="main-container">
  

  <div class="tabs">
    <div class="switch">
      <div class="job-list" routerLink="/job/job-list" routerLinkActive="active">
        <span>
          <!-- <ion-icon name="bicycle-outline"></ion-icon> -->
          <p>Pickup</p>
        </span> 
      </div>
      <div class="delivery-list" routerLink="/job/delivery" routerLinkActive="active">
        <span>
          <!-- <ion-icon name="bag-check-outline"></ion-icon> -->
          <p>Delivery</p>
        </span> 
      </div>
      <div class="history" routerLink="/job/history" routerLinkActive="active">
        <span>
          <!-- <ion-icon name="stopwatch-outline"></ion-icon> -->
          <p>History</p>
        </span> 
      </div>
      <div class="profile" routerLink="/job/profile" routerLinkActive="active">
        <span>
          <!-- <ion-icon name="person-outline"></ion-icon> -->
          <p>Profile</p>
        </span> 
      </div>
    </div>
  </div>
</div>  