<div class="main-container">
  <div class="header uk-animation-slide-top-small">
    <img src="assets/img/logo.png" alt="">
  </div>
  
  <div class="body uk-animation-fade">
    <img src="assets/img/newLogo.png" alt="">
  </div>

  <div class="content uk-animation-fade">
    <p>Welcome to the pickup agent app</p>
  </div>

  <div class="btn uk-animation-slide-bottom-small">
    <ion-button fill="none" color="primary-contrast" routerLink="/registration/login">
      <span>Get Started</span>
    </ion-button>
  </div>

  <div class="powered">
    <img src="assets/img/powered.png" alt="">
  </div>
</div> 